* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;    
    background-color: whitesmoke;
    --point-size: 3px;
    background-image: radial-gradient(circle at var(--point-size) var(--point-size), rgb(220, 220, 220) var(--point-size), transparent 0);
    background-size: 40px 40px;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
nav > div{
    text-align: center;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    padding: 10px;
}
h1 {
    display: inline-block;
    font-size: 20px;
}
#week_p{
    margin-top: 3px;
    font-size: 15px;
}
nav button{
    background-color: #2D4ACA;
    border: 1px solid #253da9;
    color: white;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}
nav button:hover{
    transform: scale(1.03);
}
nav button:active{
    background-color: #253da9;
    transform: scale(0.97);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr)); /* Chaque colonne a une largeur minimum de 150px */
    gap: 10px;
    margin: 0 20px 20px 20px;
    position: relative;
    overflow-x: auto; /* Active le défilement horizontal */
    white-space: nowrap; /* Empêche le contenu de se plier à la ligne */
}

.day {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    height: 100%; /* Chaque colonne prend la hauteur complète du calendrier */
    position: relative;
    border-radius: 10px;
    min-width: 200px; /* Largeur minimum pour chaque colonne */
}

.day-header{
    font-size: 22px;
    margin: 20px 0;
    text-align: center;
}

.day-content{
    position: relative;
    background-color: transparent;
}

.event {
    font-weight: normal;
    background-color: rgba(var(--r), var(--g), var(--b), 0.5);
    border: 1px solid #f0f0f0;
    padding: 15px;
    font-size: 12px;
    position: absolute;
    left: 0px;
    right: 0px;
    border-radius: 10px;
    text-align: left;
    transition-duration: 0.2s;
    user-select: none;
}

.day-content .current{
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: red;
    border-radius: 2px;
}
.day-content .current:after {
    content: "";
    position: absolute;
    right: -5px;
    top: -3px;
    width: 8px;
    height: 8px;
    background-color: red;
    transform: rotate(45deg);
}

.event .title{
    color: black;
    font-weight: bold;
    font-size: 12px;
    text-wrap: wrap;
}
.event .time{
    color: rgb(30, 30, 30);
    font-weight: 11px;
    margin-bottom: 3px;
    font-weight: normal;
}
.event .tag-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 5px;
}
.event .tag{
    background-color: rgb(var(--r), var(--g), var(--b), 0.5);
    font-size: 11px;
    border-radius: 20px;
    padding: 7px;
    display: inline-block;
    color: rgb(30, 30, 30);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.event:hover{
    transform: scale(0.97);
}


/* FOOTER */
footer{
	height: auto;
	padding: 30px;
	background-color: #2D4ACA;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer p{
	font-weight: 400;
    color: white;
}
footer a{
    cursor: pointer;
	font-weight: 400;
    color: white;
    text-decoration: none;
}
@media (max-width:720px) {
	footer{
		flex-direction: column;
        gap: 15px;
	}
	footer p, footer a{
		text-align: center;
	}
}