* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

section.content{
    --point-size: 3px;
    background-image: radial-gradient(circle at var(--point-size) var(--point-size), rgb(220, 220, 220) var(--point-size), transparent 0);
    background-size: 40px 40px;  
    background-color: whitesmoke;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
nav > div{
    text-align: center;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    padding: 10px;
}
nav h1 {
    display: inline-block;
    font-size: 20px;
}
#week_p{
    margin-top: 3px;
    font-size: 15px;
}
nav button{
    background-color: #2D4ACA;
    border: 1px solid #253da9;
    outline: none;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
nav button:hover{
    transform: scale(1.03);
}
nav button:active{
    background-color: #253da9;
    transform: scale(0.97);
}
nav button span{
    color: white;
    font-size: 16px;
}
nav button img{
    width: 20px;
    height: 20px;
}

@media (width <= 700px) {
    nav{
        position: fixed;
        background-color: white;
        border-radius: 10px;
        bottom: 10px;
        left: 10px;
        width: calc(100% - 20px);
        z-index: 10;
        justify-content: space-between;
        gap: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    nav > *{
        height: 70px !important;
    }
    nav > div{
        border: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav h1{
        font-size: 18px;
    }
    nav > button > span{
        display: none;
    }
    nav > button > img{
        display: initial !important;
        width: 30px;
        height: 30px;
    }
}

.calendar {
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 1fr)); /* Chaque colonne a une largeur minimum de 150px */
    gap: 10px;
    padding: 0 20px 20px 20px;
    position: relative;
    overflow-x: auto; /* Active le défilement horizontal */
    white-space: nowrap; /* Empêche le contenu de se plier à la ligne */
}

@media (width <= 700px) {
    .calendar {
        grid-template-columns: repeat(5, minmax(80vw, 1fr)); /* Chaque colonne a une largeur minimum de 150px */
        padding: 20px;
        gap: 10px;
    }
}

.day {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    height: 100%; /* Chaque colonne prend la hauteur complète du calendrier */
    position: relative;
    border-radius: 10px;
    min-width: 200px; /* Largeur minimum pour chaque colonne */
}

.day-header{
    font-size: 22px;
    margin: 20px 0;
    text-align: center;
    user-select: none;
}

.day-content{
    position: relative;
    background-color: transparent;
    min-height: 100vh;
}

.event {
    overflow-y: auto;
    font-weight: normal;
    background-color: rgba(var(--r), var(--g), var(--b), 0.5);
    border: 1px solid #f0f0f0;
    padding: 15px;
    font-size: 12px;
    position: absolute;
    left: 0px;
    right: 0px;
    border-radius: 10px;
    text-align: left;
    transition-duration: 0.2s;
    user-select: none;
}

.day-content .current{
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: red;
    border-radius: 2px;
}
.day-content .current:after {
    content: "";
    position: absolute;
    right: -5px;
    top: -3px;
    width: 8px;
    height: 8px;
    background-color: red;
    transform: rotate(45deg);
}

.event .title{
    color: black;
    font-weight: bold;
    font-size: 12px;
    text-wrap: wrap;
}
.event .time{
    color: rgb(30, 30, 30);
    font-size: 11px;
    margin-bottom: 3px;
    font-weight: normal;
}
.event .tag-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 5px;
}
.event .tag{
    background-color: rgb(var(--r), var(--g), var(--b), 0.5);
    font-size: 11px;
    border-radius: 20px;
    padding: 7px;
    display: inline-block;
    color: rgb(30, 30, 30);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.event:hover{
    transform: scale(0.97);
}

@media (width <= 700px) {
    .event .title{
        font-size: 16px;
    }
    .event .time{
        font-size: 14px;
        margin-bottom: 8px;
    }
    .event .tag-container{
        gap: 5px;
        margin-top: 8px;
    }
    .event .tag{
        font-size: 15px;
    }
}

/* FOOTER */
footer{
	height: auto;
	padding: 30px;
	background-color: #2D4ACA;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer p{
	font-weight: 400;
    color: white;
}
footer a{
    cursor: pointer;
	font-weight: 400;
    color: white;
    text-decoration: none;
}
@media (max-width:720px) {
	footer{
		flex-direction: column;
        gap: 20px;
        padding-bottom: 150px; /* Pour que le footer soit visible sur mobile avec la barre qui est déjà fixé en bas */
	}
	footer p, footer a{
		text-align: center;
	}
}